html, body {
    height: 75%;
    margin: 5px 40px 5px;
}

.container {
    height: 100%;
}

.form-rounded{
    border-radius: 2rem;
}

.nav-link{
    font-size: 0.9rem;
}

.btn{
    margin: 30px 4px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
}

#adv-search{
    color: rgb(217, 48, 37);
    font-size: 1.3rem;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 30px;
}

#search-text{
    font-size: 1.2rem;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-content{
    height: 27%;
    margin-top: 10%;
}

.logo-position{
    max-height: 92px;
    position: relative;
}

.logo-posture{
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    object-position: left;
    width: 100%;
}

.search-bar-content{
    height: 15%;
}

#btn_end{
    text-align: end;
}
